@font-face {
    font-family: 'CustomFont';
    src: url(fonts/AgrozzaDemoRegular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131313 ;
    color: whitesmoke;
    font-family: Neuton;
}

body a {
    text-decoration: none;
    color: whitesmoke;
}

.wrap {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
}

.mainbody {
    height: 100vh;
    background-image: url(images/hero-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 2rem;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-family: 'CustomFont', sans-serif;
    font-size: 1.5rem;
    border: 5px solid pink;
    padding: 0.7rem;
    margin-left: 5rem;
    color: pink;
    cursor: pointer;
}

.nav-links {
    margin-right:4rem;
}

.nav-links ul li {
    list-style: none;
    display: inline;
}

.nav-links ul li a {
    text-decoration: none;
    padding: 1rem;
    margin-left: 1rem;
    color: pink;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    transition: 0.1s linear;
}

.nav-links ul li a:hover {
    border-bottom: 3px solid pink;
}

.banner {
    margin: 7rem;
}

.header {
    font-weight: 300;
    font-size: 80px;
    color: pink;
    line-height: 90%;
    width: 60%;
    word-spacing: 5px;
}

.tagline {
    font-size: 1.5rem;
    word-spacing: 5px;
    padding-top: 2rem;
    letter-spacing: 1px;

}


.btn {
    margin-top: 3rem;
    margin-left: 3px;
}

.btn a {
    color: black;
    background-color: pink;
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
    word-spacing: 0.5rem;
    letter-spacing: 3px;
    transition: linear 0.2s;
    border: 3px solid pink;
}

.btn a:hover {
    color: pink;
    background-color: transparent;
}

/* Logos Section------------------------------------ */

.logowrap {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 1rem;
    opacity: 50%;
}

/* Showcase------------------------------------------ */
.wrap2 {
    background-image: url(images/bg.jpeg);
    background-size: cover;
}

.hl-container {
    background-color: rgba(0, 0, 0, 0.74);
    padding-bottom: 3rem;
}

.highlite {
    margin: 7rem;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.img-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 10px groove pink;
    box-shadow: 0 0 20px 20px rgba(255, 192, 203, 0.11);
}

.showcase {
    width: 500px;
    box-shadow: 0 0 20px 20px rgba(255, 192, 203, 0.11);
    transition: 0.4s linear;
}

.showcase:hover {
    scale: 1.2;
}

.txtside {
    width: 50%;
    margin-bottom: 2.5rem;
}

.sm {
    font-size: 60px;
    width: fit-content;
    padding: 1rem 0;
}

.tsm {
    padding-bottom: 1rem;
    border-bottom: 3px solid pink;
}

/* Subscription Part------------------------------------- */

.sub-header {
    text-align: center;
    background-color: #222124;
    padding: 5rem 7rem 0 7rem;
}

.sub-header h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 50%;
    color: pink;
}

.clr {
    color: pink;
}

.bg-img {
    width: 100%;
    height: 720px;
    background-image: url(images/subscription.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

/* category starts here---------------------------------- */
.cat-wrap-bg {
    background-image: url(images/bg.jpeg);
    background-size: cover;
}

.cat-wrap-trans {
    background-color: rgba(0, 0, 0, 0.514);
    padding-bottom: 8rem;
}

.cat-head h1 {
    color: pink;
    font-size: 60px;
    font-weight: 300;
    padding-top: 8rem;
    text-align: center;
}

.sp-cat {
    color: pink;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

.wrapper-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: fit-content;
    padding: 5rem 3rem;
}

.card img {
    height: 450px;
    width: 300px;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}
.card {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 30px rgba(255, 192, 203, 0.473);
    transition: ease-in-out 0.3s;
    overflow: hidden;
    cursor: pointer;
    border: 8px groove pink;
}
.text {
    height: 450px;
    width: 300px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(145, 17, 113, 0.514),rgba(180, 103, 2, 0.432));
    color: white;
    position: absolute;
    top: 0px;
    opacity: 0;

    bottom: 10%;
}
.text p {
    position: absolute;
    bottom: 0;
}
.text h2 {
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 25%;
    bottom: 45%;
    letter-spacing: 5px;
    font-size: 2rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.747);
}
.card:hover .text{
    opacity: 1;
    transition: ease-in 0.3s;
}
.card:hover img{
    scale: 1.1;
    transition: ease-in 0.3s;
    }
.card:hover {
    scale: 1.08;
    transition: ease-in 0.3s;
}

/* footer area--------------------------------- */


.footer {
    height: fit-content;
    width: 100%;
    background-color: #34c7a2
}

.ftr-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: pink
}

.ftr-wrap p, .ftr-wrap i {
    color: black;
    font-size: 1.2rem;
}

.social {
    margin: 0 auto;
    margin: 2rem;
}

.social a i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.social a:hover i{
    scale: 2;
    transition: 0.1s ease-in-out;
}
